.About-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-container {
  width: 63vw;
}

@media screen and (max-width: $mobile) {
  .testimonials-container {
    flex-direction: column;
  }

  .About-section {
    img {
      width: 100vw;
    }
  }

  .About-container {
    width: auto;
  }

  .About-us-text {
    padding-left: 19px;
  }

  .About-container {
    width: 99vw;
  }
}
