.Artist-section {
  background-color: $page-background-color;
}

.Artist-container {
  margin: 40px auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.artist-member {
  width: 150px;
  p {
    text-align: center;
  }
}

.image-wrapper {
  overflow: hidden;
}

.image-wrapper {
  img {
    transition: transform 0.2s;
  }
}

.image-wrapper {
  img {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.twitter {
  background-color: $twitter;
}

.twitch {
  background-color: $twitch;
}

.instagram {
  background-color: $instagram;
}

.discord {
  background-color: $discord-color;
}

.tiktok {
  background-color: $tik-tok;
}

.behance {
  background-color: $behance;
}

.artstation {
  background-color: $artstation;
}

.round-social {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.social-placement {
  position: relative;
  top: 8px;
}
