$page-background-color: rgb(30, 38, 40);
$senchigami-cyan: #25aae1;
$twitter: #1da1f2;
$twitch: #6441a4;
$instagram: #f00075;
$discord-color: #7289da;
$tik-tok: black;
$behance: #0757fe;
$artstation: #13aff0;
$youtube: #ff0000;
$github: #24292d;
$reddit: #fe4500;

h3 {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}
