.logo-container {
  display: flex;
  justify-content: space-evenly;
}

.senchi-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  a {
    color: white;
  }
}

footer {
  background-color: $page-background-color;
  i {
    transition: color 0.25s ease;
    &:hover {
      color: $senchigami-cyan;
    }
  }
  .custom-logo-link {
    img {
      max-height: none;
    }
  }
}

@media screen and (max-width: $mobile) {
  .logo-container {
    justify-self: unset;
    flex-direction: column-reverse;
  }

  .senchi-socials {
    justify-content: space-around;
    width: 100vw;
  }
}
