.logo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.senchi-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

footer {
  background-color: $page-background-color;
  i {
    transition: color 0.25s ease;
    &:hover {
      color: $senchigami-cyan;
    }
  }
  .custom-logo-link {
    img {
      max-height: none;
    }
  }
}
