.navbar {
  justify-content: space-around;
  padding: 0 2.5rem;
  margin: 0 auto;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

#header_menu {
  display: flex;
  // margin-left: 60px;
  font-size: 2rem;
  width: 60vw;
  list-style-type: none;
}

header.is-page {
  background-color: $page-background-color;
}

header {
  .nav-placeholder {
    .navbar {
      li {
        a {
          text-decoration: none;
          font: 400 0.875em/18px "Roboto", sans-serif;
        }
      }
    }
  }
}

header {
  .nav-placeholder {
    .container {
      display: flex;
      height: 100px;
      align-items: center;
    }
  }
}

//this also affects footer logo
.custom-logo-link {
  float: right;
  img {
    width: 100%;
    height: 100px;
    padding-left: 31%;
  }
}

.menu-item {
  a {
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
}

.menu-item {
  a:hover {
    color: $senchigami-cyan;
  }
}
