#header_menu {
  font-size: 2rem;
  width: 60vw;
  list-style-type: none;
}

.fa-bars {
  display: none;
}

.fa-times {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0 2.5rem;
  margin: 0 auto;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

header.is-page {
  background-color: $page-background-color;
}

header {
  .nav-placeholder {
    .navbar {
      li {
        a {
          text-decoration: none;
          font: 400 0.875em/18px "Roboto", sans-serif;
        }
      }
    }
  }
}

header {
  .nav-placeholder {
    .container {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-around;
    }
  }
}

//this also affects footer logo
.custom-logo-link {
  float: right;
  img {
    width: 100%;
    height: 100px;
    padding-left: 31%;
  }
}

.menu-item {
  a {
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
}

.menu-item {
  a:hover {
    color: $senchigami-cyan;
  }
}

@media screen and (max-width: $mobile) {
  .custom-logo-link {
    display: none;
  }

  header {
    .nav-placeholder {
      .container {
        position: fixed;
        width: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1;
        background-color: black;
      }
    }
  }

  #header_menu {
    flex-direction: column;
    font-size: 1rem;
    border: none;
    text-align: right;
    z-index: 1;
  }

  .menu-container {
    position: fixed;
    top: 60px;
    right: 57px;
    z-index: 1;
  }

  .navbar {
    display: none;
  }

  .hide {
    display: none;
  }

  .show {
    display: inline;
  }

  .fas {
    width: min-content;
  }

  .fa-times {
    color: white;
  }
}
