.is-inner-page {
  background-color: $page-background-color;
}

.single-page {
  background-color: $page-background-color;
}

.slider {
  margin: 0 auto;
  width: 60vw;
}

.spacer {
  height: 170px;
}

.stream-list:not(.active) {
  display: block !important;
}

@import "home-about-us";
@import "home-partner";
@import "home-shop";
