body {
  background-color: $page-background-color;
  font-family: "Roboto", sans-serif;
}

.single-page {
  background-color: $page-background-color;
}

.slider {
  margin: 0 auto;
  width: 60vw;
}

.spacer {
  height: 170px;
}

.stream-list:not(.active) {
  display: block !important;
}

@import "home-about-us";
@import "home-partner";

@media screen and (max-width: $mobile) {
  .slider {
    width: 100vw;
  }

  .spacer {
    height: 20px;
  }
}
