.Member-section {
  background-color: $page-background-color;
  h1 {
    text-align: center;
    border-top: 1px solid white;
    margin: 0 auto;
    width: 25%;
    padding-top: 20px;

    &:first-child {
      border-top: none;
    }
  }
}

.Member-container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.artist-members {
  width: 30%;
}

.team-members {
  max-width: 47%;
  width: 47%;
}

.member {
  width: 150px;
  margin: 10px;
  p {
    text-align: center;
  }
}

.image-wrapper {
  overflow: hidden;
}

.image-wrapper {
  img {
    transition: transform 0.2s;
  }
}

.image-wrapper {
  img {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.twitter {
  background-color: $twitter;
}

.twitch {
  background-color: $twitch;
}

.instagram {
  background-color: $instagram;
}

.discord {
  background-color: $discord-color;
}

.tiktok {
  background-color: $tik-tok;
}

.behance {
  background-color: $behance;
}

.artstation {
  background-color: $artstation;
}

.youtube {
  background-color: $youtube;
}

.github {
  background-color: $github;
}

.reddit {
  background-color: $reddit;
}

.link {
  background-color: grey;
}

.round-social {
  margin: 1px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  a {
    color: white;
  }
}

.social-placement {
  position: relative;
  top: 8px;
}

@import "team";
