.wp-social-link-chain {
  svg {
    path {
      d: path(
        "M10.227 9.957c-.559 0-1 .48-1 1.063 0 .585.453 1.066 1 1.066.558 0 1-.48 1-1.066.007-.582-.442-1.063-1-1.063zm3.574 0c-.559 0-.996.48-.996 1.063 0 .585.449 1.066.996 1.066.558 0 1-.48 1-1.066 0-.582-.442-1.063-1-1.063zm0 0 M18.563 1.918H5.438c-1.11 0-2.008.879-2.008 1.973v12.957c0 1.093.898 1.972 2.007 1.972h11.11l-.52-1.773 1.254 1.14 1.184 1.075 2.105 1.82V3.891c0-1.094-.898-1.973-2.008-1.973zM14.78 14.434s-.351-.414-.644-.778c1.281-.355 1.773-1.14 1.773-1.14a5.745 5.745 0 0 1-1.129.566c-.488.2-.96.336-1.418.41a7.07 7.07 0 0 1-2.539-.008 8.133 8.133 0 0 1-1.441-.414 6.219 6.219 0 0 1-.715-.324c-.027-.02-.059-.027-.086-.047a.113.113 0 0 1-.039-.031c-.176-.094-.273-.16-.273-.16s.468.765 1.71 1.129c-.293.363-.656.797-.656.797-2.164-.067-2.984-1.457-2.984-1.457 0-3.086 1.41-5.586 1.41-5.586 1.41-1.036 2.75-1.008 2.75-1.008l.098.113c-1.762.5-2.575 1.258-2.575 1.258s.215-.117.579-.277c1.046-.454 1.878-.579 2.222-.606.059-.008.11-.02.168-.02a8.728 8.728 0 0 1 1.977-.019c.933.106 1.93.375 2.949.922 0 0-.773-.719-2.438-1.219l.137-.152s1.34-.028 2.75 1.008c0 0 1.414 2.5 1.414 5.586 0 0-.836 1.39-3 1.457zm0 0"
      );
    }
  }
}

.wp-block-social-links {
  .wp-block-social-link {
    .wp-block-social-link-anchor {
      svg {
        fill: white;
      }
    }
  }
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-chain {
  background-color: $discord-color;
}

.wp-block-image {
  overflow: hidden;
}

.wp-block-image:not(.is-style-rounded) {
  img {
    transition: transform 0.2s;
  }
}

.wp-block-image:not(.is-style-rounded) {
  img {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.wp-block-column {
  flex-basis: 150px;
  flex-grow: 0;
}

.single-page {
  background-color: $page-background-color;
}

body {
  color: white;
}
